<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Se ha opinado un proyecto de ley</h1>
    <p>
      Se ha opinado el proyecto de ley con id: <%= @opinion.law_project_id %><br>
      Contenido: <%= @opinion.content %>
    </p>
    <p>Ágora software!</p>
  </body>
</html>